@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        font-family: "Anek Bangla", sans-serif;
        top: 0px !important;
    }

    /* Google translate top banner hide */
    #gt-el {
        position: fixed;
        right: 80px;
        bottom: 10px;
    }
    .goog-te-gadget-simple {
        padding: 7px;
        border-radius: 7px !important;
        border: 1px solid gray !important;
    }
    .goog-te-banner-frame.skiptranslate,
    .goog-te-gadget-simple img {
        display: none !important;
    }

    .goog-tooltip {
        display: none !important;
    }
    .goog-tooltip:hover {
        display: none !important;
    }
    .goog-text-highlight {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }

    /* Google translate top banner hide end*/
    .bg_footer_1 {
        background-color: #2d2a2a;
    }
    .bg_footer_2 {
        /* background-color: #262525; */
        background-color: #181b22;
    }
    .bg_footer_3 {
        /* background-color: #221c1c; */
        background-color: #14171d;
    }
    .docs blockquote {
        background: rgb(241, 240, 240);
        padding: 10px;
        margin: 20px 0;
        box-shadow: -3px 2px 5px 1px rgb(212, 211, 211);
        border-radius: 7px;
    }
    .docs blockquote p {
        padding: 7px;
    }
    .docs p > code {
        background: rgba(202, 199, 199, 0.63);
        padding: 2px 4px;
        color: rgb(70, 68, 68);
        border-radius: 4px;
    }
    .docs p {
        line-height: 31px;
    }
    .docs ul > li,
    .docs a {
        line-height: 30px;
        color: rgb(151, 5, 5);
        font-weight: 400;
        text-decoration: none;
    }
    .docs h1 {
        font-weight: bolder;
        font-size: 30px;
        color: #292626;
    }
    .docs h2 {
        font-weight: bolder;
        font-size: 25px;
        padding-top: 20px;
        padding-bottom: 2px;
        color: #3b3737;
    }
    .docs h3 {
        font-weight: bolder;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 2px;
        color: #3b3737;
    }
    .docs h4 {
        font-weight: bolder;
        font-size: 17px;
        padding-top: 20px;
        padding-bottom: 2px;
        color: #3b3737;
    }
    .docs ul {
        list-style: disc;
        margin-left: 20px;
    }
    .docs ul li ul {
        margin-left: 20px;
        margin-bottom: 7px;
    }

    .text-xs {
        font-size: 10px;
    }
    .select_icon {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Some browsers will not display the caret when using calc, so we put the fallback first */
        background: url("../../public/assets/icon/dropdown.png") no-repeat 98.5% !important; /* !important used for overriding all other customisations */
        background: url("../../public/assets/icon/dropdown.png") no-repeat
            calc(100% - 10px) !important; /* Better placement regardless of input width */
    }
    /*For IE*/
    .select_icon::-ms-expand {
        display: none;
    }

    /* docs side bar */
    /* .list-menu{
       @apply leading-7 pl-2 font-medium text-gray-700;
    }
    .list-active{
        @apply font-bold  text-gray-900;
    } */

    .mx-20p {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@layer components {
    .btn-lg {
        @apply px-5 sm:px-10 py-3 sm:py-5 font-semibold ring-1 ring-amber-300 ring-offset-2 ring-offset-black;
    }
    .btn-sm {
        @apply px-3 sm:px-5 py-2 sm:py-3 font-semibold ring-1 ring-amber-300 ring-offset-2 ring-offset-black;
    }

    .content h1 {
        @apply text-xl font-bold text-gray-600 mb-5;
    }

    .toggle-checkbox:checked {
        @apply: right-0 border-green-400;
        right: 0;
        border-color: #888686;
        background-color: #888686;
    }
    .toggle-checkbox:checked:hover,
    .toggle-checkbox:checked:focus {
        background-color: #727171;
    }
    .toggle-checkbox:checked + .toggle-label {
        @apply: bg-green-400;
        background-color: #dbdbdb;
    }
}
