@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        font-family: 'Anek Bangla', sans-serif;
    }
    .bg_footer_1 {
        background-color: #2d2a2a;
    }
    .bg_footer_2 {
        background-color: #262525;
    }
    .bg_footer_3 {
        background-color: #221c1c;
        ;
    }
    .docs blockquote {
        background: rgb(220, 220, 220);
        padding: 10px;
        margin: 20px 0;
        box-shadow: -3px 6px 22px 1px rgb(150, 150, 150);
        border-radius: 7px;
    }
    .docs blockquote p {
        padding: 7px;
    }
    .docs p>code {
        background: rgba(202, 199, 199, 0.63);
        padding: 2px 4px;
        color: rgb(70, 68, 68);
        border-radius: 4px;
    }
    .docs p {
        line-height: 27px;
    }
    .docs ul>li,
    .docs a {
        line-height: 30px;
        color: rgb(151, 5, 5);
        font-weight: 400;
        text-decoration: none;
    }
    .docs h1 {
        font-weight: bolder;
        font-size: 30px;
        color: #292626;
    }
    .docs h2 {
        font-weight: bolder;
        font-size: 25px;
        padding-top: 20px;
        padding-bottom: 2px;
        color: #3b3737;
    }
    .docs h3 {
        font-weight: bolder;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 2px;
        color: #3b3737;
    }
    .docs h4 {
        font-weight: bolder;
        font-size: 17px;
        padding-top: 20px;
        padding-bottom: 2px;
        color: #3b3737;
    }
    .docs ul {
        list-style: disc;
        margin-left: 20px;
    }
    .docs ul li ul {
        margin-left: 20px;
        margin-bottom: 7px;
    }

    .text-xs{
        font-size: 10px;
    }

    /* docs side bar */
    /* .list-menu{
       @apply leading-7 pl-2 font-medium text-gray-700;
    }
    .list-active{
        @apply font-bold  text-gray-900;
    } */
}

@layer components {
    .btn-lg {
        @apply px-10 py-5 font-semibold ring-2 ring-blue-100 ring-offset-2 ring-offset-blue-100;
    }
    .btn-sm {
        @apply px-5 py-3 font-semibold ring-2 ring-blue-100 ring-offset-2 ring-offset-blue-100;
    }
}
